[Desktop Entry]
Name=ZynAddSubFX
Name[pl]=ZynAddSubFX
Comment=Software synthesizer
Comment[pl]=Syntezator programowy
Exec=/usr/bin/zynaddsubfx
Icon=
Terminal=false
Type=Application
Categories=Audio;
# vi: encoding=utf-8
