[Desktop Entry]
Name=ZynAddSubFX
Name[pl]=ZynAddSubFX
Comment=Software synthesizer
Comment[pl]=Syntezator programowy
Exec=/usr/bin/zynaddsubfx
Icon=
Terminal=0
Type=Application
Categories=Application;AudioVideo;
