[Desktop Entry]
Encoding=UTF-8
Name=ZynAddSubFX
Name[pl]=ZynAddSubFX
Comment=Software synthesizer
Comment[pl]=Syntezator programowy
Exec=/usr/bin/zynaddsubfx
Icon=
Terminal=false
Type=Application
Categories=Application;AudioVideo;
# vi: encoding=utf-8
